.eBanner {
  background-image: url("../Assets/Images/Banner/e's background image.png");
  background-position: center;
  background-size: cover;
}

.empowerBannerContent {
  position: absolute;
  top: 26%;
  margin-left: 5%;
  color: white;
  z-index: 1;
  width: 90%;
  h1 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.2;
  }
}
.empower h1 {
  text-align: center;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadowedText {
  z-index: -1;
}
.testimonials {
  margin-bottom: 10vh;
  position: relative;
  .carouselControls {
    top: 0;
    padding: 0 2%;
    z-index: 1;
    .carouselNavDots {
      margin-bottom: 2%;
    }
  }

  .carouselNavDots {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    .paginationCircle {
      margin: 0 1%;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .active {
      color: "mediumaquamarine";
    }
  }
}
.testimonials h1 {
  text-align: center;
  margin-top: 5vh;
}
.testimonialsHead {
  display: flex;
  margin-left: 15%;
  margin-top: 5vh;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.testimonialsHead img {
  height: 160px;
  width: 160px;
  /* float: left; */
  margin-right: 10px;
  border-radius: 50%;
  border: 3px solid mediumaquamarine;
}
.testimonialContainer {
  padding-top: 2%;
  position: relative;
}
.testimonialsName {
  margin-left: 20px;
  text-align: left;
  h2,
  h3 {
    font-family: $primaryFont;
  }
}

.testimonials h2 {
  font-size: 2.2rem;
  margin-top: 1em;
  text-align: left;
}
.testimonials h3 {
  font-size: 1.4rem;
  text-align: left;
}
.testimonialsContentInfo {
  width: 70%;
  text-align: left;
  margin: 5vh auto;
}

.testimonialsContentInfo p {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 500;
}

.empowerBannerContent h1 {
  line-height: 2;
  color: mediumaquamarine;
}

.empower .partners button {
  background-color: black;
  color: white;
  margin: 20px 0 0 0;
}

.empower .partners .partnersInfoContainer .partnerLogosContainer .partnerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 10%;
    width: auto;
    max-height: 150px;
  }
}

.empower .partners .partnersInfoContainer .partnerLogosContainer {
  height: auto;
  width: 100%;
}
.empower .partners .partnersInfoContainer .partnersText {
  width: 100%;
}
.empower .partnersInfoContainer {
  width: 100%;
}
.empower .partners .partnersInfoContainer .partnerLogosContainer {
  margin: 0;
}
.enableBannerContent {
  position: absolute;
  top: 10%;
  margin-left: 5%;
  color: white;
  z-index: 1;
  width: 90%;
  h1 {
    font-size: 3.2rem;
    color: mediumaquamarine;
    line-height: 2;
  }
  p {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.2;
  }
}

.diverseContentInfo {
  text-align: center;
  h1 {
    text-transform: uppercase;
    color: black;
    text-align: center;

    font-size: 3rem;
    margin-top: 1em;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 545;
    line-height: 2;
  }
  .aboutDiverseContent {
    text-align: center;
    line-height: 2;
  }
}
.diverseImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonialsName {
  text-align: center;
}

.testimonialsContentInfo {
  text-align: left;
  margin-left: 230px;
  p {
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 500;
  }
}

.testimonialsImage {
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.2rem;
  }
}
.diverseContentInfo {
  text-align: center;
}

.diverseContentInfo h1 {
  margin: 1em auto;
}

.diverseContentInfo p {
  line-height: 2;
  width: 80%;
  margin: auto;
}

.diverseImageContainer {
  display: flex;
  flex-direction: row;
  padding: 5vh 10vw;
}
.diverseImageOne img {
  width: 50%;
  height: auto;
}
.diverseImageTwo img {
  width: 40%;
  height: auto;
}
.businessProjectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
  flex-wrap: wrap;
  
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    figcaption{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      background-color: black;
      color: white;
      padding: 1% 5%;
    }
    img {
      height: 100px;
      width: auto;
      transition: opacity .5s;
      &:hover{
        opacity: .5;
        cursor: pointer;

      }
    }
  }
}
