/* How Can We Help You Section Stylings */
.mainInfo {
  /* width: 100%; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5vh 2vw 0;
}

.mainInfo h1 {
  text-align: center;


}

.mainInfo h2 {
  /* text-align: left; */

  font-weight: bold;
  
  font-size: 1.3rem;
  font-weight: 700;
 
}
.mainInfo .example{
  font-size: 1rem;
  font-weight: 300;
  padding: 0 1vw;
}

.mainInfo p {
  font-size: .9rem;
}

.mainInfo .describle {
  color: mediumaquamarine;
  display: block;

}

.mainInfo button {

  font-size: 1.3rem;
  margin-bottom: 40px;
}
.mainInfo .phaseContainer {
  width: 30%;
 
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  line-height: 2;
  margin: 40px;
  overflow: hidden;
  color: white;
  border-radius: 3%;
  background-color: black;
  transition: opacity .5s;
  .phaseImage{
    overflow: hidden;
  }
  &:hover{
    cursor: pointer;
    img{
      transform: scale(1.2);
      
      transition: transform 1s;
    }
    button{
      opacity: .5;
      transition: opacity .5s;
    }
  }
}
.mainInfo .phase {
  text-transform: uppercase;
}
.mainInfo img {
  width: 100%;
  height: 30vh;
  object-fit: cover;

}

.mainInfo .mainInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.phase h2{
  /* color: white; */
  text-align: center;
  font-style: normal;
  font-size: 1.4rem;

  font-family: 'Montserrat', sans-serif;
}
.phase p{
  font-weight: 900;
  text-align: center;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  font-weight: 700;
  display: block;
  padding-bottom: 10%;

}
/* End How Can We Help You Section Stylings */

/* Projects Section Stylings */
.partners {
  margin: 5vh 15vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  a {
    color: black;
    transition: color .5s;
    &:hover {
      color: gray;
    }
  }
  h1 {
    text-transform: uppercase;
    color: black;
    text-align: center;
  
    font-size: 3rem;
    margin-top: 1em;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    line-height: 2;
    font-size: 1.3rem;
    margin: 2vh 0;
    font-weight: 500;
  }
  .partnersInfoContainer {
    .partnersText {
      height: auto;
    }
    .partnerLogosContainer {
      display: flex;
      flex-direction: row;
      height: 200px;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      .partnerLogo {
        display: inline-block;
        width: auto;
        height: 60%;
        margin: 2vh 1vw;
        position: relative;
        z-index: 3;
        transition: opacity .5s;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
/* End Projects Section Stylings */

/* About Section Stylings */
.about {
  background-image: url("../Assets/Images/Banner/We\ enable\ background\ image.png");
  width: 100%;
  height: 90vh;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20vh 2vw;
}

.about .aboutContent {
  width: 60%;
  margin: auto;
}

.about .aboutUs {

  color: white;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 10px;
  font-size: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h1 {

  color: white;
  
  /* padding-top: 80px; */

}

.about p {
  font-size: 2rem;
  padding: 0 10vw;
}

.aboutContent .click {
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}
/* End About Section Stylings */

// /*------- Home Page Stylings ------- */
// .homeBanner {
//   position: absolute;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 73% auto;
//   left: 0;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   height: 40vh;
//   width: 100%;
//   top: 10vh;
//   clip-path: polygon(0% 100%, 100% 80%, 100% 0%, 0% 0%);
//   background-color: $primaryBlack;

//   .homeBanner3 {
//     position: relative;
//     z-index: 0;

//     width: 40%;
//     margin-bottom: 5%;
//     h1 {
//       color: white;
//       font-size: 3rem;
//     }
//     h2 {
//       color: white;

//       font-size: 2rem;
//       font-weight: bold;
//     }
//     h1,
//     h2 {
//       text-shadow: 2px 2px black;
//     }
//     button {
//       &:hover {
//         cursor: pointer;
//         opacity: 0.5;
//       }
//     }
//   }
//   video {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: absolute;
//     z-index: -1;
//     object-fit: cover;
//   }
// }

// .home {
//   .quote {
//     text-align: center;
//     font-style: italic;
//     line-height: 1.5;
//     width: 100%;
//   }
//   .aboutUs {
//     display: flex;
//     flex-direction: row;
//     height: 40vh;
//     h1 {
//       margin: 1em 0 1em 3em;
//     }
//     .aboutContent {
//       margin-left: 100px;
//       line-height: 2;
//       width: 50vw;
//     }
//   }
//   .aboutImage {
//     img {
//       width: auto;

//       border-radius: 50%;
//       margin: 0 5rem 0;
//     }
//   }
//   .partners {
//     /* width: 100%; */
//     /* height: 60vh; */
//     margin: 15vh 0 10vh;
//     align-items: center;
//     .sectionContent {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       align-items: center;
//       .partnersInfoContainer {
//         /* margin: 2vh auto; */
//         /* width: 50%; */
//         max-width: 800px;
//         p {
//           margin: 2vh 0;
//         }
//         .partnersText {
//           height: auto;
//         }
//         .partnerLogosContainer {
//           display: flex;
//           flex-direction: column;
//           /* justify-content: flex-start;
//           align-items: center; */
//           /* position: relative; */
//           height: 200px;
//           flex-wrap: wrap;
//           align-items: center;
//           figcaption {
//             display: none;
//           }
//         }
//         .partnerLogo {
//           display: inline-block;
//           width: auto;
//           height: 60%;
//           margin: 2vh 1vw;
//           img {
//             height: 100%;
//             width: auto;
//           }
//         }
//       }
//     }
//     a {
//       color: black;
//       &:hover {
//         color: gray;
//       }
//     }
//     h1 {
//       text-transform: uppercase;
//       color: black;
//       text-align: center;
//       /* text-shadow: 0 0 0.2em #8F7; */
//       font-style: italic;
//       font-size: 3rem;
//       margin-top: 1em 0 1em;
//     }
//     .approach {
//       display: flex;
//       flex-direction: row;
//     }
//     .phase {
//       /* display: flex;
//       flex-direction: column; */
//       border: 3px solid black;
//       width: 20vw;
//       height: 13vh;
//       margin: 3vh 1vw 5vh;
//       text-align: center;
//       h2 {
//         background-color: black;
//         color: mediumaquamarine;
//         text-align: center;
//         text-transform: uppercase;
//         font-weight: bold;
//       }
//     }
//   }
//   .homeBanner2 {
//     /* color: black; */
//     background-image: url("../Assets/Images/Banner/3e's\ background\ image.png");
//     height: 500px;
//     width: 100%;
//     /* position: relative; */
//     background-size: 100% 500px;
//     background-repeat: no-repeat;
//     background-position: center;
//     display: flex;
//     /* align-items: center; */
//     flex-direction: column;
//     justify-content: space-around;
//     text-align: center;

//     h1 {
//       color: mediumaquamarine;
//       margin: 50px 0 30px 50px;
//       font-size: 250%;
//       text-align: left;
//     }
//     h2 {
//       text-align: left;
//       margin: 5px 20px;
//       font-size: 130%;
//       font-weight: bold;
//     }
//     p {
//       /* padding: 5% 20%; */
//       text-align: left;
//       margin: 5px 20px;
//     }
//     button {
//       text-transform: uppercase;
//       width: 150px;
//       height: 40px;
//       background-color: mediumaquamarine;
//       border: 0;
//       border-radius: 15px;
//       /* margin-top: 5%; */
//       font-weight: bold;
//       float: left;
//       margin: 20px;
//       &:hover {
//         opacity: 0.5;
//         cursor: pointer;
//       }
//     }
//     .explore {
//       /* display: flex;
//       flex-direction: column; */
//       flex: 1;
//       padding: 20px;
//       color: white;
//       justify-content: space-evenly;
//     }
//     .col {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//     }
//   }
// }

// /*-------End Home Page Stylings ------- */
